<%- include('../partials/header') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Redefinir Senha</h3>
        </div>
        <div class="card-body">
          <% if (locals.error_msg) { %>
            <div class="alert alert-danger" role="alert">
              <%= locals.error_msg %>
            </div>
          <% } %>
          <form action="/auth/reset-password/<%= token %>" method="POST">
            <div class="mb-3">
              <label for="password" class="form-label">Nova Senha</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirmar Nova Senha</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Redefinir Senha</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
