<style>
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .footer-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #007bff; /* Bootstrap primary color */
  }
  .footer-links a:hover {
    text-decoration: underline;
  }
</style>

<footer>
  <div class="container footer-content">
    <p>&copy; 2025 Car'D No Mi. Todos os direitos reservados.</p>
    <div class="footer-links">
      <a href="https://discord.gg/s4pdaqq8Ur" id="footer-discord-link" target="_blank">Discord</a>
      <a href="#" id="footer-whatsapp-link" target="_blank">WhatsApp</a>
    </div>
  </div>
</footer>

<%- include('../partials/cartModal') %>

<script src="/js/main.js"></script>

</body>
</html>